.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix

# mac stuff
.DS_Store

*.pyc
*.asv
*.out


# potentially large files
output/
**/output/
data/*
**/data/*
**/processed/
*.mp4


*_tmp

**/wandb/*

.stignore

**/.projectile

